body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.touchdevice-flow .react-flow__handle {
  width: 7px;
  height: 7px;
  border-radius: 5px;
  background-color: #9f7aea;
}

.touchdevice-flow .react-flow__handle.connecting {
  animation: bounce 1600ms infinite ease-out;
}

.descriptionArea {
  flex-direction: column;
  display: flex;
  flex-grow: 1;
  height: 40%;
}

.descriptionArea aside {
  border-right: 1px solid #eee;
  border-top: 1px solid #eee;
  border-left: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 15px 0px;
  font-size: 16px;
  width: 50%;
    max-width: 500px;
}

.descriptionArea aside .description {
  font-weight: 700;
  margin-bottom: 10px;
}

.descriptionArea .dndnode {
  height: 20px;
  padding: 4px;
  border: 1px solid #1a192b;
  border-radius: 2px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
}

.descriptionArea .dndnode.textUpdater {
  border-color: #0041d0;
}

.descriptionArea .dndnode.default {
  border-color: #ff0000;
}

.graph .reactflow-wrapper {
  flex-grow: 1;
  height: 100%;
}



/* @media screen and (min-width: 768px) {
  .graph {
    flex-direction: row;
  }

  .descriptionArea aside {
    width: 50%;
    max-width: 500px;
  }
} */
